html {
    background: #050505;
    color: #f3e939;
    font-family: Courier, sans-serif;
    font-size: 18px;
}

h1, h2 {
    font-family: 'Press Start 2P', cursive;
}

h1, a, a:visited, pre {
    color: #fb2a3d;
}

h2 {
    color: #076cf0;
    font-size: 1.3em;
    line-height: 1.3em;
}

.container {
    width: 600px;
    margin: 40px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.keyboard {
    width: 500px;
    height: 150px;

    margin: 0px;
    padding: 0px;
}

.the-hancock {
    float: right;
    width: 300px;
}

pre {
    margin-left: 0;
}

li {
    transition: background-color 0.2s ease-out 0s;
}

textarea {
    position: relative;
    z-index: 998;
    resize: unset;
    text-align: center;
    border-radius: 15px;
    border: 5px solid black;
    transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width: 500px;
}

.private {
    background: radial-gradient(white, black);
    filter: saturate(20) blur(3px);
}

.play_notification {
  animation-name: blink;
  animation-duration: 10s;
}

@keyframes blink {
  0% {
    outline: 0px solid gold;
  }
  20% {
    outline: 5px solid gold;
  }
  40% {
    outline: 1px solid gold;
  }
  60% {
    outline: 5px solid gold;
  }
  80% {
    outline: 1px solid gold;
  }
  100% {
    outline: 0px solid gold;
  }
}